<div class="fill container-page" ng-controller="homeCtrl">

	<br />
	<br />
	<br />
	<br />

	<div ng-if="PC.isBusy && !learningGraphView" class="" style="margin: auto;">
		<i class="fa fa-spinner fa-spin" style="font-size: 2em;"></i>
	</div>
	
	<div class="table"
		ng-if="!!learningGraphView"><div class="row">
		<!-- Info panel -->
		<div class="col-xs-4">
			<div ng-if="!!learningGraphView.selectedTaskSettings">
				<!-- node details -->
				<div class="some-padding">
					<span>
						{{learningGraphView.selectedTaskSettings.task.description}}
					</span>
				</div>
			</div>
		</div>

		<!-- Learning Graph -->
		<div flexgraph class="col-xs-8"
		 	ng-model="learningGraphView"
			ng-style="{
			}">

 			<!-- buttons -->
			<div style="background: rgba(255,255,255, 0.3); vertical-align: middle;">
				<!-- Edit button -->
				<a href="#" class="btn btn-lg btn-dark some-margin"
					ng-class="{active: editing}"
					ng-click="toggleEditMode()"
					onfocus="$(this).blur();">
					<i class="fa fa-edit" style="font-size: 2em;"></i>
				</a>

				<span ng-if="editing">
					<a href="#" class="btn btn-lg btn-dark"
						ng-click="learningGraphView.createLearningGraphTemplate()"
						onfocus="$(this).blur();">
						<i class="fa fa-plus" style="font-size: 2em; color: lightgreen;"></i>
						Add Learning Path
					</a>
				</span>

				<span class="pull-right" style="height: 1em; color: white;">
					<!-- {{learningGraphView.allTaskSettings.list.length || 0}} task(s) -->
				</span>
			</div>

			<!-- TODO: Only show data of currently context learningGraphs -->
			<!-- invisible LearningGraph layer -->
			<!-- <div ng-repeat="learningGraphTemplate in learningGraphTemplates.list"
				style="background: rgba(255,0,0,1)"> -->


				<!-- Task node -->
				<div flexgraph-node ng-repeat="taskSettings in learningGraphView.allTaskSettings.list"
					id="{{taskSettings.task.learningGraphTemplateTaskId}}"
					ng-model="taskSettings"
					style="background: rgba(0,0,0, 0);"
					code="p = learningGraphView.layout.getPoint(taskSettings.task.learningGraphTemplateTaskId).p;">

					<div style="background: white; border-radius: 6px; display: inline-block;">
						<!-- node summary -->
						<div class="" style="font-size: 2em; vertical-align: middle;">
							<a class="btn btn-default" href="#"
								style="background: white; height: 100%; display: inline-block;"
								onfocus="$(this).blur();"><i class="fa fa-circle-thin" style="font-size: 2em;"></i
							></a><a class="btn btn-default" href="#"
								ng-click="learningGraphView.toggleTaskOpen(taskSettings)"
								style="background: white; font-size: 1em; vertical-align: middle;"
								onfocus="$(this).blur();">

								<span>
									{{taskSettings.task.title}}
								</span>

								<i ng-if="!taskSettings.isSelected"
									style="font-size: 1.5em;"
									class="fa fa-chevron-down"></i>
								<i ng-if="taskSettings.isSelected"
									style="font-size: 1.5em;"
									class="fa fa-chevron-right"></i>
							</a>
						</div>
					</div>

					<!-- editor options -->
					<!-- <div ng-style="{'visibility': taskSettings.isSelected && 'visible' || 'hidden'}" -->
					<div ng-if="editing && taskSettings.isSelected"
						style="display: inline-block; position: relative;">
						
						<a href="#" class="btn btn-lg btn-dark"
							ng-click="learningGraphView.createChildTask(taskTemplate)"
							onfocus="$(this).blur();">
							<i class="fa fa-plus" style="font-size: 2em; color: lightgreen;"></i>
						</a>
					</div>
				</div>

				<!-- Task dependency edge -->
				<flexgraph-edge ng-repeat="dependencyEdge in learningGraphTaskDependencies.list"
					ng-model="dependencyEdge">
					<!-- {{edge}} -->
				</flexgraph-edge>
			<!-- </div> -->
		</div>
	</div></div>

	<br />
	<br />

	<textarea id="text-input" ng-model="mdRaw" ng-change="mdUpdate()"
		style="width:100%"
		rows="6"
		placeholder="markdown here..."></textarea>
    <div id="preview"
    	style="background: lightgrey; min-height: 20px;">
    </div>
</div>