<div class="fill container-page" ng-controller="homeCtrl">
	<br />
	<br />
	<br />
	<br />
	<div learningpath ng-model="PC.allGraphData"
		ng-repeat="learningPathTemplate in LearningPathTemplates.list"
		ng-style="{
		}">

		<div learningpath-node ng-repeat="taskTemplate in learningPathTemplate.TaskTemplates.list"
			id="{{taskTemplate.taskTemplateId}}"
			ng-model="taskTemplate"
			code="p = PC.allGraphData.layout.getPoint(node.taskTemplateId).p;">
			node #{{taskTemplate.taskTemplateId}}
			<!-- {{ [p.x.toFixed(2), p.y.toFixed(2)] }} -->
		</div>

		<learningpath-edge ng-repeat="dependencyEdge in learningPathTemplate.taskDependencyEdges"
			ng-model="dependencyEdge">
			<!-- {{edge}} -->
		</learningpath-edge>
	</div>

	<br />
	<br />

	<textarea id="text-input" ng-model="mdRaw" ng-change="mdUpdate()"
		rows="6" cols="60"
		placeholder="markdown here..."></textarea>
    <div id="preview"
    	style="background-color: lightgrey; min-height: 20px;">
    </div>
</div>