/**
 * @see http://www.jsplumb.org/doc/styling-via-css.html
 */

.flexgraph {
	position: relative;
	background-color: black;
	height: 600px;
	padding: 0;
}

.flexgraph-node {
	position: absolute;
	background-color: #CCC;
	z-index: 1000;
}

.flexgraph-connector {
	color: red;
}

.flexgraph-endpoint {
	/*display: none;*/
}